* {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

body{
background-color: #EDEFFE;
margin: 0;
padding: 0;
}

.finance-create {
display: flex;
align-items: center;
justify-content: center;
background-size: cover;
background-position: center;
background-color: #373B61;
}

.finance-create .Create-post {
width: 40%;
margin: 10%;
padding: 20px;
text-align: center;
border: 1px solid #EDEFFE;
border-style: solid;
border-width: 2px;
border-radius: 5px;
margin-left: 8%;
margin-top: 5%;
}

.finance-create .title {
font-style: inherit;
color: #A7D5E5;
font-weight: bold;
}


.finance-create .Form-Group {
text-align: left;
display: block;
}

.finance-create .Form-Control {
width: 80%;
padding: 6px 10px;
margin: 10px 0;
border: 1px solid #FFFFFF;
border-radius: 5px;
box-sizing: border-box;
display: block;
margin-left: 10%;
margin-bottom: 4%;
}

.report{
margin: 0;
padding: 0;
}

.finance .update{
color: white;
background-color: black;
}

.finance button:hover{
box-shadow: 1px 3px 5px rgba(10, 10, 10, 10);
}

.finance .container button{
margin-left: 85%;
}

.balance{
color: #000000;
font-size: 24px;
font-weight: bolder;
border-radius: 10%;
}

.balance .data .income:hover{
  color: #2f86c4;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 10%;
}

.balance .data .expense:hover{
  color: #2f86c4;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 10%;
}

.balance .data .profit:hover{
  color: #2f86c4;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 10%;
}

.balance .in:hover{
  color: #2f86c4;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 10%;
}

.balance .ex:hover{
  color: #2f86c4;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 10%;
}

.balance .pr:hover{
  color: #2f86c4;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 10%;
}

.newContainer .line{
  color: #2f86c4;
  border: 1px solid;
  margin-bottom: 6%;
  margin-top: 2%;
}

.reportincome{
font-size: 18px;
font-weight: bold;
padding-left: 0%;
}

.reportbalance{
font-size: 18px;
font-weight: bold;
}

.finance {
background-color: #EDEFFE;
margin: 0;
padding: 0;
}

.reportTable{
margin-left: 8%;
width: 87%;
background-color: white;
}

.finance body{
background-color: #EDEFFE;
margin: 0;
padding: 0;
}

.finance button{
background-color: #373B61;
color: #EDEFFE;
border: #373B61;
border-width: 1px;
border-radius: 4px;
border-style: solid;
width: 15%;
height: 50%;
padding: 3px;
font-size: 15px;
}

.error{
color: #dac693;
padding-left: 23%;
padding-bottom: 2%;
}

.finance .container {
background-color: #EDEFFE;
}

.finance .container .content {
background-color: #EDEFFE;
}

.newContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newContainer .balance .data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newContainer button {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120%;
  margin-left: -110%;
}
